---
import type { MarkdownLayoutProps } from "astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Breadcrumb from "@/components/Breadcrumb.astro";
import Layout from "./Layout.astro";
import {
  getLangFromUrl,
  useTranslations,
  alternatePathname,
} from "@/i18n";

type Props = MarkdownLayoutProps<{ title: string; description?: string }>;

const { frontmatter } = Astro.props;

const lang = getLangFromUrl(Astro.url.pathname);
const t = useTranslations(lang);
---

<Layout
  title={`${frontmatter.title} | ${t("siteTitle")}`}
  description={frontmatter.description ?? t("siteDesc")}
  alternateURL={alternatePathname(Astro.url.pathname)}
>
  <Header />
  <Breadcrumb />
  <main id="main-content" class="app-layout">
    <section id="about" class="app-prose mb-28 max-w-app prose-img:border-0">
      <h1 class="text-2xl tracking-wider sm:text-3xl">{frontmatter.title}</h1>
      <slot />
    </section>
  </main>
  <Footer />
</Layout>
